

.main-header .logo{
  height: 84px;
  width: 141px;

}

/* HEADER */
.logoSimbolo{
  width:25%;
  margin-left: 245%;
  margin-top: -30%;
}

.form-control{
  font-size: 14px; 
  background-color: #bfd3e940; 
  border:none; width: 302px; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
  padding-bottom: 7px; 
  padding-left: 9px;
  margin-left: 14px; 
  margin-bottom: 0px;
  margin-top: 0px;
}



/* Botões Menu header */

 .btn-ps{
    background-color: white;
    background-image:   url(../img/menuProcura.jpg);
    width: 10px;
    background-size: 35px;
    background-repeat: no-repeat;
    padding: 18px;
    border: none;
 }

 .home-img{
   background-color: white;
   background-image:   url(../img/menuHome.jpg);
   width: 10px;
   background-size: 35px;
   background-repeat: no-repeat;
   padding: 17px;
   border: none;
 }

 .duvida-img{
   background-color: white;
   background-image: url(../img/questionIcon.png);  /*url(../img/menuDuvida2.jpg)*/
   width: 10px;
   background-size: 35px;
   background-repeat: no-repeat;
   padding: 18px;
   border: none;
 }

 .entrar-img{
   background-color: white;
   background-image: url(../img/userIcon.png);  ;/*url(../img/menuEntrar2.jpg)*/
   width: 10px;
   background-size: 35px;
   background-repeat: no-repeat;
   padding: 18px;
   border: none;
 }



.fieldSearch{
  font-size: 14px;
  background-color: #bfd3e940;
  border:none;
  width: 400px;

}

.buttonSearch{
  color: #007bff;
  border:none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btnVender{
  color: #007bff; border-color: #2700ff00;   background-color: #007bff; width: 112px;  height: 39px;border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; height: 37px;
}


.main-nav li{
    width: 100%;
    background-color: #bfd3e940;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    padding: 2px 0px;
    margin: 12px;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

.product a{
    /* color: #007bff; */
    color:red!important;
    background-color: #bfd3e940;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 11px 3px 15px;
}


  /* FOOTER CSS */




.main-footer li{
    display: inline-block;
    text-transform: lowercase;
    text-transform: none;
    text-align: center;
    margin-left: 15px;
    margin-right: 1px;
    font-size: 12px;
    background-color: #bfd3e940;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 180px;
    padding: 5px;

    }


    /* INDEX CSS */
    .c-widget__title{
      color: #007bff;
      font-size: 27px;
      font-weight: lighter;
    }

    .sizeImg{
      width: 150px;
      height: 150px;
    }

    .product{
      text-align: center;
      margin-top: 10px;
    }

    .vejaBtn{
      color: #007bff; border-color: #2700ff00;   background-color: #bfd3e940; width: 112px;  height: 39px;border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; height: 37px; top:-14px;
      position: relative;

    }

    .font-weight-light{
      font-size: 27px;
      color: #007bff;
      position: relative;
      left: 5px;
      top: -5px;
      }

      .Separador .text-center{
            margin-top: 42px;
      }
/*MARCAS FAVORITAS START*/
      .sizeMarcas{
        width: 100px;
        height: 100px;
      }

      .vip-marcas{
        padding-right: 210px;
        padding-left: 210px;
        margin-right: 34px;
      }

      .shadow{
        width: 100px;
         margin: 0 auto;
         height: 100px;
         background-color: #f5f5f5;
         display: flex;
         align-items: center;
         justify-content: center;
         margin: 15px;
       }
          .bottom {
          box-shadow: 0px 15px 10px -15px #111;
      }
/*PROMOÇÕES START*/

  .sizeImgPromo{
    width: 110px;
    height: 110px;
    margin-bottom: 30px;
  }

  .promo{
    margin-top: 40px;
  }

  .textPromo{
    font-weight: 800;
    font-size: 50px;
  }




/* FOOTER CSS COMEÇO*/



.footer .payment{
margin:0px;
padding:0px;
list-style-type:none;
}

.footer .payment li{
list-style-type:none;
}

.footer .payment li a {
  text-decoration: none;
  display: inline-block;
  color: #007bff;
  float: left;
  font-size: 25px;
  padding: 10px 10px;
}

.logoFooter{
margin-left: 0;
} 



.footer {
padding: 50px 0 20px 0;
/* background-color: #35404f; */
color: #007bff;
}
.footer .title{text-align: left;color:#007bff;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#007bff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#007bff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
    text-decoration: none;
    color: #007bff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: #f5f5f5;
    /* border: solid 1px #007bff; */
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
    text-decoration: none;
    display: inline-block;
    color: #007bff;
    /* float: left; *****************************************/
    font-size: 25px;
    padding: 10px 10px;
}

/* /ALTERAÇÕES DE WAGNER COMEÇO*/
/* .footer, .row{
  clear: both;
}

.footer .title{
  text-align: left;
  color:#007bff;
  font-size:25px;
}
.footer{
  padding:0px;
  margin:0px;
}
.footer .social-icon a{
  display:inline-block;
  color:#007bff;
  font-size:25px;
  padding:5px;
}

.social-icon{
  margin-left: -18%;
}

.botaoInstagram:hover{
  color: #e95950;
}

.botaoFacebook:hover{
  color: #3b5998;
}

.botaoTwitter:hover{
  color: #00aced;
}
.botaoPinterest:hover{
  color: #cb2027;
}


.footer .acount-icon a{
  display:block;
  color:#007bff;
  font-size:18px;
  padding:5px;
  text-decoration:none;
}
.footer .acount-icon .fa{
  margin-right:25px;
}


.footer .category a {
  text-decoration: none;
  color: #007bff;
  display: inline-block;
  padding: 5px 20px;
  margin: 1px;
  border-radius:4px;
  margin-top: 6px;
  background-color: #f5f5f5;
  /* border: solid 1px #007bff; */
/* /ALTERAÇÕES DE WAGNER FIM*/

/*LOGIN*/
.userBox{
  color: #007bff;
  background-color: #bfd3e940;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}

.userBordas{
  /* border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */

}

/*PERGUNTAS*/
.lista_perguntas{
  list-style-type:none;
}

/*CONTATO*/

/* @media (max-width:576px) para Header.php */


@media (max-width:576px){

  .headerSearch{
    margin: 0 auto;
    left: -116px;
  }

  .campoSearch{
    position: relative;
    right: 127px;
    margin: 0 auto;
  }

  .form-control{
    width: 265px;
  }

  .logo{
    position: relative;
    left: 27px;
  }

  .btnVender{
    margin-left: 39px;
  }


  .navbar{

    width: 222px;
    margin: 0 auto;
  }
  .nav-item{
    margin-left: 115px;
    margin-right: 115px;
    padding-left: 66px;
    padding-right: 32px;
    width: 281px;
    height: 129px;
    position: relative;
    right: 129px;
  }

  .vip-marcas{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 34px;
  }


  .marcas{
    position: relative;
  /* width: 100%; */
  min-height: 1px;
  padding-right: 0px;
  padding-left: 13px;
  width: 86px;
  }

  .btn .btn-primary{
    position: relative !important;
  }

  /* @media (max-width:576px) para footer.php */
  .logoFooter{
    position: relative;
    left: 89px;;
  }

  .minhaConta{
    text-align: center;
  }
  .minhaConta .title{
    text-align: center;
  }

  .footerCategorias{
    text-align: center;
  }
  .footerCategorias .title{
    text-align: center;
  }

  .footerPagto{
    text-align: center;
  }
  .footerPagto .title{
    text-align: center;
  }



}
@media (min-width:577px){
  .input-group{
    position: relative;
    left: 0px;
    margin: auto;
  }

  .form-control{
    width: 178px;
  }

  .logo{
    position: relative;
    /* left: -61px; */
    right:48px;
  }

  /* .nav-item{
    margin-left: 187px;
    margin-right: 115px;
    padding-left: 66px;
    padding-right: 32px;
    height: 174px;
    width: 284px;
    height: 129px;
  } */

  .vip-marcas{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 34px;
  }

  .btn-primary{
    margin-left: 10px;
  }

  .navbar{
    margin: auto;
    /* padding-left: 58px; */
    padding-right: 35px;
    width: 420px;
  }

  .navbar-brand{
    margin-right: 0px;
  }

}

@media (min-width:720px){

  .input-group{
    position: relative;
    left: 5px;
    margin: 0 auto;
  }

  .form-control{
    width: 280px;
  }


  .navbar{
    width: 608px;
    margin: 0 auto;
  }

  .nav-item{
    position: relative;
    left: 15px;
  }

  .logo {
    position: relative;
    left: -27px;
}


.btnVender{
  position: relative;
    left: -44px;
}


}


@media (min-width:859px){

.headerSearch{
  padding-left: 0px;
    position: relative;
    left: 15px;
}

.logo{
  position: relative;
    left: -28px;
}


}

@media (min-width:859px){

  .headerSearch{
    padding-left: 0px;
      position: relative;
      left: 15px;
  }
  
  .logo{
    position: relative;
      left: -28px;
  }

  .navbar {
    width: 579px;
    margin: 0 auto;
}
  
  
  }
  


@media (min-width:960px){

    .MenuPrincipal{
      margin-right: -65px;
      margin-left: 100px;
    }

    .logo{
      position: relative;
      left: -187px;
    }

    .headerSearch{
      padding-top: 34px;
      padding-left: 0px;
      position: relative;
      right: 240px;
    }

    .nav-item{
      margin-left: 0;
      margin-right: 0;
      padding-left: 5;
      padding-right: 5;
    }

    .navbar {
      /* width: 259px; */
      position: relative;
      left: 177px;
      margin: 0 auto;
  }

  .navbarHamburguer {
    position: relative;
    left: 0px;
  }


  .navbar-expand-lg .navbar-nav {
    
    flex-direction: row;
    position: relative;
    left: 387px;
  }

    .btnVender {
      position: relative;
      left: -44px;
      padding-right: 25px;
      padding-left: 25px;
      color: #007bff;
      background-color: #007bff;
    }

  .duvida-img{
    margin-left: 30px;
    margin-right: 30px;
  }
  

/* ////////////////////////////////////////////////////////
/////////////////////////////////////////////////////// */
/*CONTATO*/

/*PÁGINA MASCULINO/FEMININO*/

.pagMasc{
  margin-top: 3%;
}

.imgMasc{
  width: 11%;
  float: left;
  margin: -3% 3% 5% 0;
  border: double 2px;
}

.tituloCamisas{
  font-size: 1.2em;
  margin-left: 80%;
}

.tituloCamisasUn{
  visibility:hidden;
}

.imgConfig{
  margin-top: 3%;
  margin-bottom: 15%;
  padding: 2%;
  border: solid 2px rgba(0, 123, 255, 0.2);
}

.efeitoImg{
  max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.efeitoImg:hover{
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*PÁGINA PRODUTO FEMININO*/

.imgProdutoFeminino{
  width: 30%;
}

/*PÁGINA PRODUTO MASCULINO/FEMININO*/

.imgProduto{
  margin-left: 10%;
  border: double 2px rgba(189, 189, 189, 0.5);
}

.imgProdutoSocial{
  width: 30%;
  margin-left: 7%;
  border: double 2px rgba(189, 189, 189, 0.5);
}

.imgProdutoOculos{
  width: 30%;
  margin-left: 7%;
  border: double 2px rgba(189, 189, 189, 0.5);
}

.imgProdTexto{
  margin: 0 0 20% 0;
}

.textoProduto{
  margin-right: 45%;
  margin-top: 3%;
  float: right;
}

.produtoImg{
  float: left;
  margin-top: 1%;
}

.descricaoProduto{
  height: 170px;
  float: left;
  background: rgba(214, 214, 214, 0.3);
  border: solid 1px rgba(0, 0, 0, 0.05);
  padding: 1%;
  margin-left: 5%;
}

.precoProduto{
  float: right;
  background: rgba(214, 214, 214, 0.3);
  border: solid 1px rgba(0, 0, 0, 0.05);
  padding: 1%;
  margin-right: 8%;
  width: 280px;
}

.euQuero{
  background: #007bff;
  border-radius: 12px;
  cursor: pointer;
  width: 80%;
  margin: 5% auto 0 auto;
  padding: 8% 1% 2% 1%;
  max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.euQuero:hover{
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.textoEuQuero{
  margin-left: 10%;
}

/*PÁGINA CATEGORIAS*/

.divisorPagina{
  width: 50%;
  margin-left: 23%;
  margin-bottom: -3%;
}

/*PÁGINA CATEGORIAS*/

#categorias{
  margin-left: 25%;
  margin-top: 5%;
}

.categoriaMasc, .categoriaFem, .categoriaKids{
  width: 20%;
}

.categoriaMasc{
  float: left;
  clear: both;
  border: double 6px;
  border-color: #BDBDBD;
}

.categoriaFem{
  float: left;
  margin-left: 0.5%;
  border: double 6px;
  border-color: #BDBDBD;
}

.categoriaKids{
  float: left;
  margin-left: 0.5%;
  border: double 6px;
  border-color: #BDBDBD;
}

.textoMasc{
  float: left;
  margin-left: 30%;
}
.textoFem{
  float: left;
  margin-left: 10%;
}
.textoKids{
  float: left;
  margin-left: 12%;
}



}
