*{

}

body{

}

.main-header .logo{
  height: 75px;
  width: 156px;

}

.logo{
  padding: 11px 19px 12px 25px;
}
.search{
  padding: 12px -1px 9px 10px;
  font-size: 14px;
  margin: 14px;
}

.fieldSearch{
  font-size: 14px;
  background-color: #bfd3e9;
  border:none;
  width: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.buttonSearch{
  color: #007bff;
  border:none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.main-nav li{
    width: 100%;
    background-color: #bfd3e9;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    padding: 2px 0px;
    margin: 12px;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

.product a{
    /* color: #007bff; */
    color:red!important;
    background-color: #bfd3e9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 11px 3px 214px;
}



.main-footer li{
    display: inline-block;
    text-transform: lowercase;
    text-transform: none;
    text-align: center;
    margin-left: 15px;
    margin-right: 1px;
    font-size: 12px;
    background-color: #bfd3e9;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 180px;
    padding: 5px;

    }
